#white{
  color:white;
}
#broken{
    color:red;
      }
  #subtitle{
    color:white;
  }
  html, body {
    height: auto;
    width: 100%;
    background-size: 100%; 
    
  }
  body, ul {
    margin: 0;
    padding: 0;
}
  a{
    background-color:black;
  }
  input{
    margin:auto;
    width: 800px;
    height: 60px;
    background: #0f0f0f;
    border-radius: 5px;
    margin:auto;
    border: 2px white solid;
    width: 300px;
    height: 57px;
    border-radius: 5px;
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    outline: none;
    margin-left:10px;
  }
  
  h1{
    color: yellow; /* changed from white */
  }
  
  body {
    background-color: purple; /* changed from black */
  }
  

